<nav>
  <div class="nav-wrapper minimal brown lighten-2 z-depth-3">
    <a href="./home"><img class="logo" src="/images/Logo3.png" /></a>

    <div class="fixed-action-btn menu">

        <a class="btn-floating btn-large light-blue darken-3 z-depth-3" style="position: relative; top: -8px;">
            <i class="large material-icons waves-effect waves-light">dehaze</i>
        </a>

          <ul>
            <li><a href="./signin" class="btn-floating btn-large green sign"><i class="material-icons waves-effect waves-light">account_circle</i></a></li>

            <li><a href="./logout" class="btn-floating btn-large red sign"><i class="material-icons waves-effect waves-light">power_settings_new</i></a></li>
          </ul>

    </div>

    <div id="pre-loader" class="progress minimal white" style="width: 90%; left: 37px; top: 0px;">
        <div class="indeterminate minimal light-blue darken-3"></div>
    </div>

  </div>
</nav>
