
	<div class="limiter" style="position: absolute; top: 0px;">
		<div class="container-login100" style="background-image: url('images/bg.jpg');">

			<div class="wrap-login100 p-t-100 p-b-30">

				<form class="login100-form validate-form" method="POST" action="/signup">

					<div class="login100-form-avatar">
						<img src="/images/boy.png" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-25">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "First name is required">
						<input class="input100" type="text" name="fname" placeholder="First Name">
						<span class="focus-input100"></span>

					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Last name is required">
						<input class="input100" type="text" name="lname" placeholder="Last Name">
						<span class="focus-input100"></span>

					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" type="email" name="email" placeholder="Email">
						<span class="focus-input100"></span>

					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" id="pass" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input class="input100" type="password" id="pass2" name="password2" placeholder="Repeat Password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn p-t-20">
						<button class="login100-form-btn" type="submit" value="submit">
							Sign up
						</button>
					</div>
				</form>

			</div>
		</div>
	</div>
